<div class="pane-head" style="padding: 10px;">
	<button type="button" class="close" data-ng-click="panels.close();">x</button>
</div>

<div class="pane-body" style="padding: 10px;">

	<div class="container">
	  <table class="table" ng-repeat="f in selectedPOI.FABBRICATI">
	    <tbody>
	      <tr>
		<th>Tipologia</th>
		<td>{{f.TIPOLOGIA}}</td>
		<th>Denominazione</th>
		<td>{{f.DENOMINAZIONE}}</td>		      
		<th>Descrizione</th>
		<td>{{f.DESCRIZIONE}}</td>		      
	    </tr>
	    </tbody>
	  </table>
	</div>	

	<div>
		<button type="button" class="close" data-ng-click="panels.close();">Chiudi</button>
	</div>
</div> 

